#!/bin/sh

# AWS Credentials
AWS_ACCESS_KEY_ID=$(awk '/aws_access_key_id/{print $3}' ~/.aws/credentials)
AWS_SECRET_ACCESS_KEY=$(awk '/aws_secret_access_key/{print $3}' ~/.aws/credentials)
export AWS_ACCESS_KEY_ID
export AWS_SECRET_ACCESS_KEY

# Destination path in S3 bucket
DEST="boto3+s3://"

GPG_KEY=""

# Base directory to backup
BASE_DIR=""

# Directories to include
INCLUDE_PATHS=""

# Directories to exclude
EXCLUDE_PATHS=""

# Verbose mode
VERBOSE=""

# Compression settings
GPG_OPTIONS="--compress-algo=bzip2 --bzip2-compress-level=6"

# Temporary directory for duplicity
TEMP_DIR=""

# Log file for verification results
LOGFILE=""

RESTORE_DIR="temp/"
